{% extends "00.base.html" %}
{% block title %}TaeKook Universe{% endblock %}
{% block content %}

<div class="main-content">
    <h1 class="heading">Welcome to TaeKook Universe!</h1>
    <p class="caption">A fanpage dedicated to Kim Taehyung and Jeon Jung Kook.</p>
    <p class="caption">Follow their incredible journey from their debut till now!</p>

    <!-- Image Carousel -->
    <div class="image-carousel">
        {% for image in images %}
        <div class="image-slide">
            <img src="{{ url_for('static', filename='images/home/' + image) }}" alt="Taekook {{ loop.index }}">
        </div>
        {% endfor %}
    </div>
</div>

<script>
// Image Carousel Logic
const slides = document.querySelectorAll('.image-slide');
if (slides.length > 0) {
    let index = 0;
    setInterval(() => {
        slides[index].classList.remove('visible');
        index = (index + 1) % slides.length;
        slides[index].classList.add('visible');
    }, 3000);
}

function generateStars() {
    const nightSky = document.createElement('div');
    nightSky.classList.add('night-sky');
    document.body.appendChild(nightSky);

    const numberOfStars = 300; 
    for (let i = 0; i < numberOfStars; i++) {
        const star = document.createElement('div');
        star.classList.add('star');
        star.style.top = `${Math.random() * 100}vh`; 
        star.style.left = `${Math.random() * 100}vw`; 
        star.style.animationDuration = `${Math.random() * 3 + 2}s`; 
        nightSky.appendChild(star);
    }
}

window.onload = function() {
    generateStars(); 
};

</script>
{% endblock %}
