{% extends "00.base.html" %}
{% block title %}Milestones{% endblock %}
{% block content %}
<div class="main-content">
    <h1 class="heading">Milestones</h1>
    <p class="caption">Explore the milestones of their careers!</p>
    <div class="milestone-cards">
        {% for milestone in milestones %}
        <div class="milestone-card">
            <div class="card-header">
                <h2 class="title">{{ milestone.title }}</h2>
                <p class="date">{{ milestone.date }}</p>
            </div>
            <div class="card-body">
                {% if milestone.link %}
                    <a href="{{ milestone.link }}" target="_blank">
                        <img src="{{ url_for('static', filename='images/milestones/' + milestone.image) }}" 
                            alt="{{ milestone.title }}"
                            data-title="{{ milestone.title }}"
                            data-date="{{ milestone.date }}"
                            data-image="{{ milestone.image }}"
                            data-description="{{ milestone.description }}">
                    </a>
                {% else %}
                    <img src="{{ url_for('static', filename='images/milestones/' + milestone.image) }}" 
                         alt="{{ milestone.title }}"
                         data-title="{{ milestone.title }}"
                         data-date="{{ milestone.date }}"
                         data-image="{{ milestone.image }}"
                         data-description="{{ milestone.description }}">
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
