{% extends "00.base.html" %}
{% block title %}Fan Projects{% endblock %}
{% block content %}
<div class="main-content">
    <h1 class="heading">Fan Projects & Donations</h1>
    <p class="caption">Explore the amazing projects and donations made by Taekook fans worldwide!</p>
    <div class="project-cards">
        {% for project in projects %}
        <a href="{{ project.link }}" target="_blank" class="project-card">
            <div class="card-header">
                <h2 class="title">{{ project.title }}</h2>
                <p class="date">{{ project.date }}</p>
            </div>
            <div class="card-body">
                <img src="{{ url_for('static', filename='images/projects/' + project.image) }}" alt="{{ project.title }}">
                <p class="description">{{ project.description }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
