{% extends "00.base.html" %}
{% block title %}Streaming{% endblock %}
{% block content %}
    
<div class="main-content">
    <h1>Thank You for Your Order!</h1>
    <p>We have received your order and will begin processing it shortly.</p>
    <h3>Order Details:</h3>
    <p><strong>Name:</strong> {{ name }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Shipping Address:</strong> {{ address }}</p>
    <p><strong>Grand Total:</strong> ${{ "%.2f"|format(total_price) }}</p>
    <p>We will notify you once your order is on its way. Thank you for supporting Taekook!</p> 
</div>
{% endblock %}