<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet Tae</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="night-sky" id="night-sky"></div>
    <div class="back-home-container-tae">
        <a href="/" class="back-home-button">Back to Home</a>
    </div>
    <header>
        <h1 class="tae-heading">🐻 Meet Taehyung 🐯</h1>
    </header>

    <div class="tae-full-page-image-side" style="background-image: url({{ url_for('static', filename='images/taetae_side.jpeg') }});"></div>

    <div class="tae-section-wrapper">    
        <div class="tae-section">
            <div class="tae-image-container">
                <img src="{{ url_for('static', filename='images/taetae.jpeg') }}" alt="Taehyung" class="taekook-image">
            </div>
            <div class="taekook-bio">
                <p>{{ tae_content.replace('\n', '<br>') | safe }}</p>
            </div>  

            <section class="taekook-social-links">
                <a href="https://twitter.com/BTS_twt" target="_blank">
                    <img src="/static/images/icons/x.jpeg" alt="Twitter" class="taekook-social-icon">
                </a>
                <a href="https://www.instagram.com/thv" target="_blank">
                    <img src="/static/images/icons/instagram.jpeg" alt="Instagram" class="taekook-social-icon">
                </a>
                <a href="https://weverse.io/bts/profile/07ee2935d1a799b354ee32954e17914b" target="_blank">
                    <img src="/static/images/icons/weverse.jpeg" alt="Weverse" class="taekook-social-icon">
                </a>
            </section>
            <footer-taekook>
                <p>Taehyung is a treasure to the world. Let's continue to support his amazing journey! 💚</p>
            </footer-taekook>
        </div>
    </div>
</body>
</html>
