<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet Koo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="night-sky" id="night-sky"></div>
    <div class="back-home-container-koo">
        <a href="/" class="back-home-button">Back to Home</a>
    </div>

    <div class="koo-full-page-image-side" style="background-image: url({{ url_for('static', filename='images/kookie_side.jpeg') }});"></div>

    <div class="koo-section-wrapper">    
        <div class="koo-section">
            <div class="koo-heading">🐰 Meet Jung Kook 🐰</div>
            <div class="koo-image-container">
                <img src="{{ url_for('static', filename='images/kookie.jpeg') }}" alt="Jungkook" class="taekook-image">
            </div>
            <div class="taekook-bio">
                <p>{{ koo_content.replace('\n', '<br>') | safe }}</p>
            </div>
    
            <section class="taekook-social-links">
                <a href="https://twitter.com/BTS_twt" target="_blank">
                    <img src="/static/images/icons/x.jpeg" alt="Twitter" class="taekook-social-icon">
                </a>
                <a href="https://www.instagram.com/bowwow_bam/" target="_blank">
                    <img src="/static/images/icons/instagram.jpeg" alt="Instagram" class="taekook-social-icon">
                </a>
                <a href="https://weverse.io/bts/profile/ccd493e68a6ba447a964d1ce3b529589" target="_blank">
                    <img src="/static/images/icons/weverse.jpeg" alt="Weverse" class="taekook-social-icon">
                </a>
                <a href="https://www.tiktok.com/@Jung Kook?lang=en" target="_blank"></a>
                    <img src="/static/images/icons/tiktok.jpeg" alt="Weverse" class="taekook-social-icon">
                </a>
            </section>
            <footer-taekook>
                <p>Jung Kook's passion and talent inspire fans across the globe. Let’s continue to support his amazing journey! 💜</p>
            </footer-taekook>
        </div>
    </div>
</body>
</html>
