<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Navigation Menu -->
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/upcoming">Upcoming</a></li>
            <li><a href="/memories">Memories</a></li>
            <li><a href="/milestones">Milestones</a></li>
            <li><a href="/radio">Radios</a></li>
            <li><a href="/vibe">Vibe</a></li>
            <li><a href="/fanbases">Fanbases</a></li>
            <li><a href="/fanprojects">Projects</a></li>
            <li><a href="/store">Store</a></li>
        </ul>
    </nav>
    <!-- Heading and Intro Section -->
    <div class="intro">
        <h1 class="heading">Upcoming Projects</h1>
        <p class="caption">
            Coming up next for Taehyung and Jungkook! Exciting projects ahead!
        </p>
        <div class="events-container">
            {% for event in upcoming %}
            <div class="event-card">
                <div class="event-header">
                    <h2 class="event-title">{{ event.title }}</h2>
                    <p class="event-date">{{ event.date.strftime('%B %d, %Y') }}</p>
                </div>
                <div class="event-body">
                    <img src="{{ url_for('static', filename='images/' + event.image) }}" alt="{{ event.title }}" class="event-image">
                    <div class="event-content">
                        <p class="event-description">{{ event.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    <div>
    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Purple Dreams. All rights reserved.</p>
        <!-- <ul>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/about">About Us</a></li>
        </ul> -->
    </footer>
</body>
</html>
